body {
	background-color: EADEBD;
  background-image: url(../../images/orenburg-gubern.png);
  background-repeat: repeat-y;
 background-position: 90% 50%;

}
.u-section-1,
.u-section-2,
.u-section-3
        {
            background: none;
        }